.app-button {
    border-radius: 5px;
    border: none;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    width: 100px;
    outline: none;
    cursor: pointer;
    background-color: $light-theme-bg;

    &:hover {
        background-color: $light-theme-bg-light;
    }

    &.highlighted {
        background-color: #7e92e9;

        &:hover {
            background-color: #5a70d3;
        }
    }

    &.correct {
        background-color: #c4eebc;

        &:hover {
            background-color: #9dd392;
        }
    }

    &.incorrect {
        background-color: #e64646;

        &:hover {
            background-color: #c41d1d;
        }
    }
}