.app-page-wrapper {
    display: flex;
    flex-direction: column;

    &.light-theme {
        color: $light-theme-text-dark;

        a {
            &:link {
                color: $light-theme-text;
            }

            &:visited {
                color: $light-theme-text;
            }
        }
    }
}