@import './variables/breakpoints.scss';
@import './variables/colors.scss';

@import './components/Button.scss';
@import './components/Header.scss';

@import './containers/Home.scss';
@import './containers/PageWrapper.scss';
@import './containers/Test.scss';


.app-container {
    a {
        text-decoration: none;
        font-family: "Segoe UI";
        outline: none;
    }
}

