/* LIGHT THEME */
$light-theme-bg: #DAE0E6;
$light-theme-bg-light: #ccc;
$light-theme-bg-lighter: #eee;
$light-theme-border-color: #0079D3;

$light-theme-text-highlight-color: #ADD8E6;

$light-theme-error-message-color: red;

$light-theme-text-dark: black;
$light-theme-text: #555;
$light-theme-text-light: #999;
$light-theme-text-lighter: #aaa;


/* DARK THEME */